{
  presets: [
    'react',
    'stage-3',
  ],
  plugins: [
    'postjss/babel',
    'async-to-promises',
    ['transform-object-rest-spread', { useBuiltIns: true }],
    ['babel-root-import', {
      rootPathSuffix: 'src/client',
    }],
  ],
  env: {
    development: {
      plugins: [
        'react-hot-loader/babel',
      ],
    },
    server: {
      plugins: [
        'transform-es2015-modules-commonjs',
      ],
    },
  },
}
