{
  "presets": [
    "react",
    "stage-3"
  ],
  "plugins": [
    "prejss",
    "async-to-promises",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["babel-root-import", {
      "rootPathSuffix": "src/client",
      "namespace": "prejss"
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ],
    },
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
