.app
  position: absolute
  top: 0
  left: 0

  display: flex
  overflow: hidden
  overflow-y: auto
  flex-direction: column

  width: 100vw
  height: 100vh

.content
  padding: 20px

.header
  border-bottom: 1px solid #eee
