extends layout

block head
  +head(title)
    style(type="text/css" id="server-side-styles")
      != sheets

block body
  +body(html)
    script.
      window.PRELOADED_STATE = !{JSON.stringify(state)};

    script(src=`/static/app.js`)
